.container {
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  z-index: 10;
  align-items: center;
  clip-path: inset(0 0 0 0 round 12px);
}

.menuBtn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 15px;
  padding: 8px 10px;
  border-radius: 12px;
  z-index: 5;
  cursor: pointer;
  border: 1px solid #dddddd;
  background-color: rgba(255, 255, 255, 0.904);
  backdrop-filter: blur(10px)
}

.menuBtn span {
  width: 20px;
  height: 2px;
  background-color: black;
  transition: margin-left 0.2s ease-in-out;
}

.middleLine {
  margin-left: 5px;
}

.thirdLine {
  margin-left: 10px;
}


.innerContainer {
  display: flex;
  gap: 30px;
  padding: 6px 10px 6px 30px;
  background-color: rgba(255, 255, 255, 0.904);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  border: 1px solid #ddd;
  transform: translateX(-100%);
  pointer-events: none;
  transition: transform 0.2s ease-out;
  margin-left: -15px;
  z-index: 4;
}

.show {
  transform: translateX(0%);
  pointer-events: auto;
}






