.navbarContainer {
  position: absolute;
  top: 30px;
  left: 9%;
  z-index: 2;
  display: flex;
  background-color: var(--bg-transparent);
  backdrop-filter: blur(15px);
  border-radius: var(--br-btn);
  height: 50px;
  border: 1px solid rgba(131, 130, 130, 0.3);
  transform-origin: left;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.05);
  animation: strech 1s linear;
}

.menuBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 12px;
  padding: 8px 8px;
  border-radius: var(--br-btn);
  z-index: 5;
  cursor: pointer;
}

.menuBtn span {
  width: 32px;
  height: 2px;
  border-radius: 1px;
  background-color: var(--color);
  transition: margin-left 0.2s ease-in-out;
}

.middleLine {
  shape-rendering: crispEdges;
  margin-left: 3px;
  transition-delay: 0.05s;
}

.thirdLine {
  margin-left: 6px;
  transition-delay: 0.1s;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 0;
  gap: 2px;
  position: relative;
  overflow-x: hidden;
  white-space: nowrap;
  transition:
    max-width 0.2s cubic-bezier(0, 0.48, 0.32, 1.06),
    margin-left 0.2s cubic-bezier(0, 0.48, 0.32, 1.06),
    margin-right 0.2s cubic-bezier(0, 0.48, 0.32, 1.06);
  will-change: max-width, margin;
}

.show {
  max-width: 300px;
  transition:
    max-width 0.2s cubic-bezier(0, 0.48, 0.32, 1.06),
    margin-left 0.2s cubic-bezier(0, 0.48, 0.32, 1.06),
    margin-right 0.2s cubic-bezier(0, 0.48, 0.32, 1.06);
  will-change: max-width, margin;
}

.spacer {
  height: 25px;
  width: 1px;
  background-color: rgba(131, 130, 130, 0.6);
}

.button {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-color: transparent;
  transition: background-color 0.1s ease-out;
  color: var(--color);
}

.button:last-child {
  margin-right: px;
}

.btnText {
  font-size: 1rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  height: 100dvh;
  width: 100dvw;
  background-color: transparent;
}

.loginPopupPos {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  border-radius: 30px;
  min-width: 18em;
  max-width: 30em;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(150vw, -50%);
}

.signupPopupPos {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  border-radius: 30px;
  width: 300px;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(150vw, -50%);
}

.showPopup {
  animation: slideInFromRight 0.2s forwards;
  visibility: visible;
  opacity: 1;
}

.hidePopup {
  animation: slideOutToLeft 0.2s linear forwards;
}

.aboutPopupPos {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 95%;
  max-width: 800px;
  scroll-behavior: contain;
  height: calc(100dvh - 1em);
  margin-top: 0.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 5;
  overflow-y: auto;
}

.showAboutPopup {
  animation: slideInFromBottom 0.4s forwards;
  visibility: visible;
  opacity: 1;
}

.hideAboutPopup {
  animation: slideOutToBottom 0.4s forwards;
}

@keyframes slideInFromBottom {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 50%);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes slideOutToBottom {
  from {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 50%);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translate(150vw, -50%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
  }
  to {
    transform: translate(-150vw, -50%);
    opacity: 0;
    visibility: hidden;
  }
}
