.grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  min-height: calc(100vh - var(--navbar-height));
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.loginTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 8rem;
  padding: 1rem;
}

.loginTitle h1 {
  letter-spacing: 0.08rem;
  font-size: 1.5rem;
  
}

.loginFormContainer {
  padding: 2rem 3rem;
  width: 90%;

}

@media (min-width: 1024px){
  .grid {
    grid-template-columns: 1fr min(var(--content-width), var(--content-width-max)) 1fr;
  }
  .content {
    grid-column: 2;
    width: 100%;
  }
}


