.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  padding: 1em;
  padding-bottom: 0.3em;
  border-radius: 8px;
  gap: 1rem;
}

.loginForm label {
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: inherit;
  text-transform: uppercase;
}

.loginForm input {
  height: 2.4em;
  border: var(--border);
  background-color: var(--bg-input);
  border-radius: 12px;
  padding: 8px;
}

.fieldDiv {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.errorWrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  font-size: 0.9rem;
  color: red;
  transition: grid-template-rows 0.3s ease-out;
}

.errorWrapperShow {
  grid-template-rows: 1fr;
}

.errorWrapper > * {
  min-height: 0;
}

.submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: none;
  font-weight: 400;
  color: #fefefe;
  background: var(--bg-submit-btn);
  padding: 0.6em;
  box-shadow: var(--box-shadow);
}

.submitBtnText {
  font-size: 1.3rem;
}

.redirectContainer {
  display: flex;
  justify-content: center;
}

.redirectContainer span {
  color: var(--color);
  border-bottom: 1px solid var(--color);
  font-size: 0.8rem;
}

.googleBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svgDivGoogle {
  display: flex;
  align-items: center;
  gap: 0.4em;
  height: 40px;
  padding: 0.2em 1em;
  border: var(--border);
  border-radius: 30px;
}

.svgDivGoogle span {
  font-size: 0.8rem;
  text-wrap: nowrap;
  color: inherit;
}

.googleBtn svg {
  display: block;
  width: 100%;
  height: 60%;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.btnsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6em;
}
