.button {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: var(--bg-transparent);
  backdrop-filter: blur(10px);
  border-radius: var(--br-btn);
  width: 45px;
  height: 45px;
  overflow: hidden;
  top: 20%;
  left: 10px;
  z-index: 2;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.05);
}

.container {
  flex-shrink: 0;
  width: 90px;
  height: 45px;
  display: flex;
  transition: transform 0.2s ease-out;
}

.container > svg {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0.3em;
}

.showSun {
  transform: translateX(-50%);
}

.showMoon {
  transform: translateX(0);
}

.moon {
  fill: rgb(43, 9, 107);
}
